@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<thegioididong.Models.Product>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Thegioididong.com - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/base.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/main.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/index.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/footer.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/dienthoai.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/tablet.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/phukien.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/dongho.css" type="text/css">
    <link rel="stylesheet" href="~/assets/css/smartwatch.css" type="text/css">
    <link rel="stylesheet" href="~/assets/font/fontawesome-free-6.1.1-web/css/all.min.css" type="text/css" />
</head>
<body>
    <div class="app" style="background-color: #f3f3f3">
        <header class="header">
            <div class="grid">
                <div class="header__top">
                    <div class="header__items">
                        <a class="header__logo">
                            <img class="logo_img" src="~/assets/img/logo2.webp" alt="" />
                        </a>

                        <a href="" class="header__addres">
                            <p>Xem giá, tồn tại kho:</p>
                            <p>Hồ Chí Minh</p>
                        </a>
                        <form action="/tim-kiem" class="header__search">
                            <input id="skw"
                                   type="text"
                                   class="input-search"
                                   onkeyup="suggestSearch(event);"
                                   placeholder="Bạn tìm gì..."
                                   name="key"
                                   autocomplete="off"
                                   maxlength="100" />
                            <button type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <div id="search-result"></div>
                        </form>

                        <a href="" class="header__order"> Lịch sử mua hàng </a>
                        <a href="" class="header__cart">
                            <div class="cart__logo">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                            <span class="list__text">Giỏ hàng</span>
                        </a>
                    </div>
                </div>
                <div class="header__main">
                    <div class="main__items">
                        <ul class="main-menu">
                            <li class="">
                                <a href="#dienthoai">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-phone-96x96-2.png" />
                                    </i>
                                    <span> Điện thoại</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#laptop">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-laptop-96x96-1.png" />
                                    </i>
                                    <span class="">Laptop</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#tablet">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-tablet-96x96-1.png" />
                                    </i>
                                    <span class="">Tablet</span>
                                </a>
                            </li>
                            <li class="has-list">
                                <a href="#phukien">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-phu-kien-96x96-1.png" />
                                    </i>
                                    <span class="has-child">Phụ kiện</span>
                                </a>

                            </li>
                            <li class="">
                                <a href="#smartwatch">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-smartwatch-96x96-1.png" />
                                    </i>
                                    <span class="">Smartwatch</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#dongho">
                                    <i>
                                        <img class="list__pro" src="https://cdn.tgdd.vn//content/watch-icon-96x96.png">
                                    </i>
                                    <span class="">Đồng hồ</span>
                                </a>
                            </li>

                            <li class="has-list">
                                <a href="#mayin">
                                    <i>
                                        <img class="list__pro"
                                             src="https://cdn.tgdd.vn//content/icon-pc-96x96.png" />
                                    </i>
                                    <span class="has-child">PC, Máy in</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="grid">
            <div class="big-banner">
                <a>
                    <img width="1920" height="920" src="//cdn.tgdd.vn/2022/06/banner/Banner-Big-1920x450-1920x450.jpg" alt="Banner Big Campaign">
                </a>
            </div>
        </div>


        <!-- Dien thoai -->
        <div class="deal" id="dealsoc">
            <section id="dienthoai">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">Điện Thoại</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 3)
                        {
                            
                            <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                               <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        <ul>
                                            <li data-url="/dtdd/samsung-galaxy-s22-ultra" data-id="235838" data-index="0" class="merge__item item act">@item.Ram GB - @item.Rom GB</li>

                                        </ul>
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                 </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                           
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        <!-- Laptop -->
        <div class="deal" id="dealsoc">
            <section id="laptop">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">LapTop</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 1)
                        {
                            <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                                <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        <ul>
                                            <li data-url="/dtdd/samsung-galaxy-s22-ultra" data-id="235838" data-index="0" class="merge__item item act">@item.Ram GB - @item.Rom GB</li>

                                        </ul>
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        <!-- Tablet -->
        <div class="deal" id="dealsoc">
            <section id="tablet">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">Tablet</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 4)
                        {
                            <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                                <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        <ul>
                                            <li data-url="/dtdd/samsung-galaxy-s22-ultra" data-id="235838" data-index="0" class="merge__item item act">@item.Ram GB - @item.Rom GB</li>

                                        </ul>
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        <!-- phu kien -->
        <div class="deal" id="dealsoc">
            <section id="phukien">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">Phụ Kiện</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 7)
                        {
                           <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                                <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        <!-- Smartwach -->
        <div class="deal" id="dealsoc">
            <section id="smartwatch">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">SmartWatch</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 4)
                        {
                            <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                                <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        <!-- Dong ho -->
        <div class="deal" id="dealsoc">
            <section id="dongho">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">Đồng Hồ</span>
                        </a>
                    </h2>

                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 5)
                        {
                             <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                               <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
        
        <!-- May in -->
        <div class="deal" id="dealsoc">
            <section id="mayin">
                <div class="deal-main">
                    <h2 class="deal__title">
                        <a href="#" style="background:url();background-size:cover;">
                            <span class="txtDs">Máy in & PC</span>
                        </a>
                    </h2>
                    <!-- end -->
                </div>

                <ul class="listproduct">
                    @foreach (var item in Model)
                    {
                        if (item.Id_Category == 2)
                        {
                             <li class=" item  __cate_5693" data-index="1" data-id="115899" data-issetup="0" data-maingroup="364" data-subgroup="1131" data-type="1" data-vehicle="1" data-productcode="3640045000014" data-price="4600000.0" data-ordertypeid="2" data-pos="1">
                                <a asp-action="Details" asp-route-id="@item.Id_pro">
                                    <div class="item-label">
                                    </div>
                                    <div class="item-img item-img_5693">
                                        <img class="thumb ls-is-cached lazyloaded" data-src="https://cdn.tgdd.vn/Products/Images/5693/115899/may-in-da-chuc-nang-brother-dcp-l2520d-in-photo-210122-113842-600x600.jpg" alt="Máy In Laser Trắng Đen Brother DCP-L2520D" src="@item.Images.FirstOrDefault().link_image">
                                    </div>


                                    <h3>
                                        @item.Pro_Name
                                    </h3>
                                    <div class="prods-group" data-iscompare="True" data-mergename="Samsung Galaxy S22 Ultra 5G" data-lstarranged="235838,271697,271698">
                                        
                                    </div>
                                    <strong class="price">@item.Price ₫</strong>
                                    <div class="item-rating">
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                        <p class="item-rating-total">51</p>
                                    </div>

                                </a>
                                <div class="item-bottom">
                                    <a href="#" class="shiping"></a>
                                </div>

                            </li>
                        }

                    }





                </ul>
            </section>
        </div>
        <!-- end -->
    </div>

    <!-- footer-->
    <footer class="footer">
        <section class="clearfix footer__top" style="display: flex">
            <div class="footer-col">
                <ul class="f-listmenu">
                    <li><p>Chính sách bảo hành</p></li>
                    <li><p>Giao Hàng & Thanh Toán</p></li>
                    <li><p>Quy chế hoạt động</p></li>
                    <li><p>Cảnh bảo giả mạo</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="f-listmenu">
                    <li><p>Giới thiệu công ty (MWG.vn)</p></li>
                    <li><p>Tuyển dụng</p></li>
                    <li><p>Gửi góp ý , khiếu nại</p></li>
                </ul>
            </div>
            <div class="footer-col">
                <ul class="f-listmenu">
                    <li>
                        <p><strong>Tổng đài hỗ trợ</strong> (Miễn phí gọi)</p>
                    </li>
                    <li>
                        <p>Gọi mua: <span>1800.1060</span> (7.30 - 22.00)</p>
                    </li>
                    <li>
                        <p>Kỹ Thuật: <span>1800.1763</span> (7.30 - 22.00)</p>
                    </li>
                    <li>
                        <p>Khiếu nãi: <span>1800.1062</span> (7.30 - 21.30)</p>
                    </li>
                    <li>
                        <p>Bảo Hành: <span>1800.1064</span> (7.30 - 21.00)</p>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <div class="f-social">
                    <p class="link-fb">
                        <img class="icon-fb" src="assets/img/logo-icon-footer2.png"></img>
                        3735.7k Fan
                    </p>
                    <p></p>
                </div>
            </div>
        </section>
        <div class="footer-end">
            <section>
                <p>
                    © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở
                    KH & ĐT TP.HCM cấp ngày 02/01/2007. GPMXH: 238/GP-BTTTT do Bộ
                    Thông Tin và Truyền Thông cấp ngày 04/06/2020. Địa chỉ: 128 Trần
                    Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại: 028
                    38125960. Email: cskh@thegioididong.com. Chịu trách nhiệm nội
                    dung: Huỳnh Văn Tốt. Xem chính sách sử dụng
                </p>
            </section>
        </div>
    </footer>
    <!-- end -->
    </div>

</body>
</html>

